body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

svg {
  flex: 1 1;
}

aside {
  flex: 0 0 15em;
  background-color: #eee;
}

.layer-lakes {
  fill: darkblue;
}

.layer-canton-labels text {
  text-anchor: middle;
  pointer-events: none;
}

.layer-path {
  stroke: red;
  stroke-width: 3px;
  fill: none;
}
